doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      undefined;
  body
    .jumbotron.jumbo-white
      .container
        .row
          .col-md-3
            h1
              a(href="/services/consulting") Consulting
              p 
                small Logiblock offers a single-source solution spanning from
                  br
                  strong rapidly-prototyped concept validation
                  | to
                  strong finished firmware development
                  | .
                hr
                ul
                  li
                    a(href="/ip-portfolio/bluetooth") Bluetooth 4.0 LE
                      em(Low energy)
                      | and
                      a(href="/ip-portfolio/wifi") WiFi
                      | specialists.

