body
{
	margin: 50px 0 0 0;
	padding: 0;
}

sup
{
	font-size: 0.6em;
}

.moot
{
	font-family: "myriad pro", tahoma, verdana, arial, sans-serif;
	font-size: 18px;
}

.jumbotron
{
	margin-bottom: 0;

	&.jumbo-white
	{
		background-color: #FFF;

		h1 a
		{
			color: inherit;

			&.thumbnail
			{
				background-color: transparent;
				border-color: #FFF;

				&:hover
				{
					border-color: #999;
				}
			}
		}
	}
	
	&.jumbo-blue
	{
		background-color: #D5E4FF;

		p, h1, h2
		{
			text-shadow: #FFF 0 1px 2px;
		}

		hr
		{
			border-top: 1px solid #333;
		}

		h1 a, h2 a
		{
			color: inherit;
		}

		h1 small
		{
			font-weight: lighter;
			font-style: italic;
			color: #555;
		}

		a.thumbnail
		{
			background-color: transparent;
			border-color: #D5E4FF;

			&:hover
			{
				border-color: #428BCA;
			}
		}

		.stripe
		{
			background: url(stripe-12-D5E4FF.png) repeat #D5E4FF;
		}
	}

	&.jumbo-gray
	{
		background-color: #DDD;

		p, h1, h2
		{
			text-shadow: #FFF 0 1px 2px;
		}

		hr
		{
			border-top: 1px solid #333;
		}

		h1 a, h2 a
		{
			color: inherit;
		}

		h1 small
		{
			font-weight: lighter;
			font-style: italic;
			color: #555;
		}

		a.thumbnail
		{
			background-color: transparent;
			border-color: #DDD;

			&:hover
			{
				border-color: #999;
			}
		}
		
		.stripe
		{
			background: url(stripe-12-DDD.png) repeat #D5E4FF;
		}
	}

	&.jumbo-orange
	{
		background-color: #FFE4D5;

		p, h1, h2
		{
			text-shadow: #FFF 0 1px 2px;
		}

		a
		{
			color: #FF7518;

			&:hover
			{
				color: #E46915;
			}
		}

		hr
		{
			border-top: 1px solid #333;
		}

		h1 a, h2 a
		{
			color: inherit;
		}

		h1 small
		{
			font-weight: lighter;
			font-style: italic;
			color: #555;
		}

		a.thumbnail
		{
			background-color: transparent;
			border-color: #DDD;

			&:hover
			{
				border-color: #999;
			}
		}
		
		.stripe
		{
			background: url(stripe-12-FFE4D5.png) repeat #FFE4D5;
		}
	}
	
	&.jumbo-dark
	{
		background-color: #444;
		color: #EEE;

		p, h1, h2, ul
		{
			text-shadow: #000 0 1px 2px;
		}

		hr
		{
			border-top: 1px solid #333;
		}

		a
		{
			color: #B2CCFF;
		}
		h1 a, h2 a
		{
			color: inherit;
		}

		h1 small
		{
			font-weight: lighter;
			font-style: italic;
			color: #555;
		}

		a.thumbnail
		{
			background-color: transparent;
			border-color: #333;

			&:hover
			{
				border-color: #AAA;
			}
		}
	}
	&.no-padding
	{
		padding: 0 inherit 0 inherit;
		
		p
		{
			margin: 30px inherit 30px inherit;
		}
	}
}


@media (min-width: 992px){
	.jumbotron
	{
		.padding
		{
			padding-left: 30px;
		}
		.stripe
		{
			margin-bottom: 0;
		}
	}
}

@media (min-width: 768px){
	.jumbotron
	{
		/*.padding
		{
			padding-left: 30px;
		}
		.stripe
		{
			margin-bottom: 0;
		}*/
	}
}


/*not used*/
.jumbotron ul.animateActive
{
	padding-left: 0;
}
.jumbotron ul.animateActive li
{
	list-style: disc inside;
	padding-left: 0.2em;
	-webkit-transition: background-color linear 0.3s;
	-moz-transition: background-color linear 0.3s;
	transition: background-color linear 0.3s;
}
.jumbotron ul.animateActive li.active
{
	background-color: #EEE;
}


.blog
{
	font-size: 150%;
	font-family: "ff-tisa-web-pro",Georgia,Cambria,"Times New Roman",Times,serif;

	.by
	{

	}

	.date
	{
		color: #999;
		float: right;
	}

	p
	{
		color: #333;
		text-indent: 1em;
		line-height: 1.45;
		word-wrap: break-word;
		text-align: justify;
	}

	.article
	{
		img
		{
			width: 100%;
			margin: 20px 0 20px 0;
			border-radius: 15px;
		}
	}
}

a.social-hn
{
	img
	{
		width: 30px;
		height: 30px;
		border-radius: 3px;
		margin: 0 10px 0 10px;
	}
}

iframe.state
{
	border: none;
	width: 1px;
	height: 1px
}

/*bootstrap overrides*/

.btn-orange
{
	color: #FFF;
	background-color: #FF7518;
	border-color: #E46915;
	
	&:hover
	{
		color: #FFF;
		background-color: #DE6615;
		border-color: #CD5E13;
	}
}

.navbar-inverse
{
	border: none;
	background-color: #333;

	.navbar-brand
	{
		color: #FFF;
		padding: 5px 10px 0 0;
	}
	
	.navbar-nav > li > a
	{
		color: #DDD;

		sup.badge
		{
			background-color: #FF7518;
			margin-left: 3px;
			padding: 2px 5px;
			border-radius: 20px;
			color: #000;
		}
	}
}

.breadcrumb > li + li:before
{
	content: ">\00a0";
}

code
{
	color: #333;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
}
